<li class="connection">
    <%= image_tag(connection.icon) %>
    <div class="details">
        <label><%=connection.name %></label>
        <span><%=connection.io_type.to_s%></span>
    </div>
</li>
