<li class="device">
    <span class="image"></span> 
    <div class="details">
        <span class="id"><%= device.chip_id %></span>
        <span class="ip"><%= device.ip %></span>
        <span class="status"><%= device.status %></span>
    </div>
</li>
