<div class="device-panel">
    <h1>Devices Panel</h1>
    <ul class="devices">
        <%= render partial: 'device', collection: @devices %>
    </ul>
</div>
<div class="groves">
    <h1>Groves</h1>
    <div class="analog">
        <h2>Analog</h2>
        <ul>
            <%= render partial: 'connection', collection: @connections.where(catagory: :analog)%>
        </ul>
    </div>
    <div class="gpio">
        <h2>Gpio</h2>
        <ul>
            <%= render partial: 'connection', collection: @connections.where(catagory: :gpio)%>
        </ul>
    </div>
</div>
<div class="components-panel">   
    <h1> Components</h1> 
    <ul class="components devices">
        <%= render partial: 'device', collection: @components %>
    </ul>
</div>
