<div id="heater">
  <% if heater %>
    <label>Heater status</label>
    <% if heater.status %>
      <i id="switch" class="fa fa-toggle-off fa-5x"></i>
    <% else %>
      <i id="switch" class="fa fa-toggle-on fa-5x"></i>
    <% end %>
  <% end %>
</div>