<div id="temperature">
  <% if temperature %>
    <label>temperature</label>
    <div><%= temperature.temperature %></div>
    <label>sensor id</label>
    <div><%= temperature.sensor_id %></div>
  <% end %>
</div>