<div id="timer" class='card time'>
  <div class='inner'>
    <article class="icon clock">
      <div class="hours-container">
        <div class="hours"></div>
      </div>
      <div class="minutes-container">
        <div class="minutes"></div>
      </div>
      <div class="seconds-container">
        <div class="seconds"></div>
      </div>
    </article>
    <div class='title'>
      <div class='text'>TIMER</div>
    </div>
    <div class='number'>
      00:00:00
    </div>
    <div class='measure'>TIME LEFT</div>
  </div>
</div>
