<div id="dashboard"  class='container'>
  <%= render partial: 'temperature', locals: {temperature: @temperature} %>
  <%= render partial: 'heater', locals: {heater: @heater} %>
  <%= render partial: 'timer', locals: {heater: @heater} %>
  <%= link_to "Stage Dashboard", stage_url %>
</div>