<table id="table">
  <thead>
  <tr>
    <th>play this stage</th>
    <th data-field="name">Name</th>
    <th data-field="desc">Description</th>
    <th data-field="duration">Duration</th>
    <th data-field="target_temperature">Target Temperature</th>
    <th data-field="sequence" data-sortable="true">Sequence in brew</th>
  </tr>
  </thead>
  <tbody>
  <%= render @stages %>
  </tbody>
</table>
<div id="add-stage">
  <i class="fa fa-plus fa-1g"></i>
</div>