<div class="stage-container">
  <table id="table">
    <thead>
    <tr>
      <th class="stage-play" data-field="play">click play stage</th>
      <th class="name" data-field="name">Name</th>
      <th class="input_device" data-field="input_device">input device</th>
      <th class="output_logic" data-field="output_logic">output logic</th>
      <th class="output_device" data-field="output_device">output device</th>
      <th class="stop_device" data-field="stop_device">stop device</th>
      <th class="stop_logic" data-field="stop_logic">stop logic</th> 
      <th class="sequence" data-field="sequence" data-sortable="true">Sequence in brew</th>
      <td class="should_stop" data-field="should_stop">Should Stop</td>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'stage', collection: @stages, locals: {input_devices: @input_devices, output_devices: @output_devices, current: @current_stage} %>
    </tbody>
  </table>
  <div id="add-stage">
    <label>add a stage</label>
    <i class="fa fa-plus fa-1g"></i>
  </div>

  <div id="reset">
    <label>reset all stage status</label>
    <i class="fa fa-stop fa-1g"></i>
  </div>
  <%= link_to "Status Dashboard", root_url %>
</div>
