// Place all the styles related to the device_manage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .components-panel, .device-panel {
    width: 50%;
    height: 100%;
    float: left;
    ul.devices {
        list-style-type: none; 
        li.device {
            width: 300px;
            margin: 30px; 
            .details {
                height: 65px;
                display: inline-block;
                vertical-align: bottom;
                .id {
                    font-weight: bold;
                }
            }
            img {
                margin: 15px;
                width: 80px;
                height: 80px;
            }
        }
    }
}
.components-panel {
    li {
        border: 3px solid red;
        background: #999;
    }
}
.groves {
    width: 30%;
    float: right;
    padding: 0 40px;
    border-left: 5px solid;
    .gpio {
        border-top: 3px dashed;
    }
    ul {
        list-style-type: none;
        .connection {
            img {
                width: 40px;
                height: 40px;
            }
            .details {
                height: 40px;
                display: inline-block;
                vertical-align: bottom;
            }
        }
    }
}
